.research {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}
.research::-webkit-scrollbar {
  display: none;
}
.research__main {
  flex-direction: column;
  flex: 1;
}
.research__main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  flex: 1;
  background-color: white;
  padding: 30px;
}
.research__main__content__item {
  margin-bottom: 30px;
}
.research__main__content__item > p {
  margin-bottom: 10px;
}
.research__main__content__item > h2 {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1rem;
  user-select: none;
  user-zoom: none;
  text-transform: uppercase !important;
  margin-top: 20px;
}
.research__main__content__item > ol > li,
.research__main__content__item > ul > li {
  margin-top: 5px;
}
